body {
  min-width: 1200px;
}
.content {
  width: 1000px;
  margin: 0 auto;
  overflow: hidden;
}
.tit-1,
.tit-2,
.tit-3 {
  margin: 0 auto;
  margin-top: 42px;
  padding-right: 60px;
  text-align: center;
  line-height: 88px;
  font-size: 36px;
  color: #b99856;
}
.tit-1 {
  width: 501px;
  height: 94px;
  background: url("ossweb-img/bg-tit-01.png") center center no-repeat;
}
.tit-2 {
  width: 458px;
  height: 101px;
  background: url("ossweb-img/bg-tit-02.png") center center no-repeat;
}
.tit-3 {
  width: 486px;
  height: 101px;
  background: url("ossweb-img/bg-tit-03.png") center center no-repeat;
}
.panel {
  width: 100%;
}
.slogan {
  display: none;
}
.clearFloat {
  overflow: hidden;
}
/*----bg1------------*/
.panel-1 {
  height: 893px;
  background: url("ossweb-img/bg1.jpg") center center no-repeat;
}
.logo {
  float: right;
  margin-top: 23px;
  margin-right: 200px;
}
.content-1 {
  height: 893px;
  background: url("ossweb-img/bg-content.jpg") center no-repeat;
}
/*分割图片*/
.bg1-2 {
  width: 100%;
  height: 417px;
  background: url("ossweb-img/bg_01-2.jpg") center center no-repeat;
}
/*---------bg2-----------*/
.panel-2 {
  height: 615px;
  background: url("ossweb-img/bg_02.jpg") center center no-repeat;
  text-align: center;
}
.small-tit {
  font-size: 14px;
  color: #9a89c9;
  padding-right: 60px;
}
.part-item {
  float: left;
  position: relative;
  margin-top: 21px;
  width: 310px;
  height: 428px;
  text-align: center;
  background: url("ossweb-img/bg-comp.png") center no-repeat;
}
.part-item-tit {
  margin: 18px 0 18px;
  font-size: 24px;
  color: #a28cd5;
}
.part-item-btn {
  display: block;
  position: absolute;
  top: 305px;
  left: 68px;
  width: 175px;
  height: 44px;
  font-size: 18px;
  text-align: center;
  color: #9a5a01;
  line-height: 44px;
  cursor: pointer;
  background: url("ossweb-img/bg-tit-04.png") center center no-repeat;
}
.part-item-2 {
  margin-left: 35px;
  margin-right: 35px;
}
.get-way {
  display: none;
}
.panel-3 {
  height: 666px;
  background: url("ossweb-img/bg_03.jpg") center center no-repeat;
}
.panel-3 .content {
  position: relative;
}
.swiper1-arrow-left,
.swiper1-arrow-right {
  display: block;
  position: absolute;
  top: 392px;
  width: 34px;
  height: 51px;
}
.swiper1-arrow-left {
  left: 0;
  background: url("ossweb-img/sprit.png");
  background-position: 0 0;
}
.swiper1-arrow-right {
  right: 0;
  background: url("ossweb-img/sprit.png");
  background-position: -51px 0;
}
.panel-4 {
  height: 701px;
  background: url("ossweb-img/bg_04.jpg") center center no-repeat;
}
.panel-4 .tit-1 {
  margin-top: 64px;
  margin-bottom: 34px;
}
.panel-4 .content {
  padding: 0 41px;
  position: relative;
}
.swiper2-arrow-left,
.swiper2-arrow-right {
  display: block;
  position: absolute;
  top: 400px;
  width: 26px;
  height: 35px;
  z-index: 10;
}
.swiper2-arrow-left {
  left: 0;
  background: url("ossweb-img/sprit.png");
  background-position: 0 -60px;
}
.swiper2-arrow-right {
  right: 0;
  background: url("ossweb-img/sprit.png");
  background-position: -54px -60px;
}
/*---------bg5-----------*/
.panel-5 {
  width: 100%;
  height: 551px;
  background: url("ossweb-img/bg_05.jpg") center center no-repeat;
}
.panel-5 p {
  width: 100%;
  font-size: 14px;
  color: #e4b3d5;
}
.tit-4 {
  font-size: 30px;
  margin-top: 29px;
  color: #efc58e;
}
.tit-4 i {
  display: block;
  float: left;
  width: 7px;
  height: 27px;
  margin: 8px 10px 0 0;
  background: url("ossweb-img/sprit.png");
  background-position: -9px -167px;
}
.tit-5 {
  width: 118px;
  height: 43px;
  margin-top: 24px;
  margin-bottom: 5px;
  background: url("ossweb-img/bg-tit-05.png");
  font-size: 16px;
  color: #fff;
  text-align: center;
  line-height: 43px;
}
/*------侧边提示-------*/
.slide-tip {
  width: 113px;
  height: 266px;
  position: fixed;
  right: 5%;
  top: 30%;
  background: url("ossweb-img/bg-sidebar.png") top center no-repeat;
  text-align: center;
  display: none;
  z-index: 15;
}
.slide-tip h4 {
  font-size: 14px;
  color: #fff;
  margin-top: 108px;
  margin-bottom: 18px;
}
.slide-tip p {
  font-size: 14px;
  color: #c4abd7;
  width: 101px;
  margin-left: 7px;
  text-align: left;
/*text-align left*/
  margin-bottom: 11px;
}
.slide-tip a {
  display: block;
  width: 33px;
  height: 33px;
  position: absolute;
  left: 43px;
  bottom: 0;
/*margin-top 11px*/
  background: url("ossweb-img/sprit.png");
  background-position: -52px -163px;
}
/*---------配件弹出层--------*/
.popup-comp {
  width: 100%;
  height: 3426px;
  top: 0;
  z-index: 15;
  position: absolute;
  display: none;
}
.popup-wrap {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background: #1d1a30;
  opacity: 0.6;
  filter: alpha(opacity=60);
}
.part-detail {
  width: 433px;
  height: 522px;
  margin: 0 auto;
  margin-top: 970px;
  padding-top: 1px;
  text-align: center;
  position: relative;
  z-index: 16;
  display: none;
  background: url("ossweb-img/bg-part.png") center no-repeat;
}
.part-detail img {
  position: absolute;
  top: 9px;
  left: 0;
}
.part-detail h4 {
  position: absolute;
  top: 265px;
  left: 118px;
  width: 198px;
  height: 47px;
  margin: 0 auto;
  background: url("ossweb-img/bg-tit-06.png") center no-repeat;
  font-size: 18px;
  color: #88798e;
  line-height: 47px;
}
.part-detail h5 {
  font-size: 16px;
  color: #8d7498;
  margin-top: 366px;
}
.part-detail p {
  font-size: 14px;
  color: #978ea8;
}
.player-opus {
  width: 473px;
  height: 707px;
  margin: 0 auto;
  margin-top: 2180px;
  padding-top: 1px;
  background: url("ossweb-img/bg-player-opus.png") center no-repeat;
  position: relative;
  z-index: 16;
  text-align: center;
  display: none;
}
.player-opus img {
  width: 399px;
  height: 502px;
  margin-top: 25px;
}
.player-opus h4 {
  width: 175px;
  height: 44px;
  padding: 0 10px;
  position: absolute;
  left: 139px;
  top: 505px;
  background: url("ossweb-img/bg-tit-07.png") center no-repeat;
  font-size: 18px;
  color: #fff;
  line-height: 44px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.player-opus p {
  margin-top: 35px;
  font-size: 16px;
  color: #8d7498;
}
.player-opus span {
  display: block;
  width: 316px;
  margin: 0 auto;
  font-size: 14px;
  color: #978ea8;
}
.btn-close {
  width: 41px;
  height: 41px;
  background: url("ossweb-img/btn-close.png") center no-repeat;
  position: absolute;
  top: 0;
  right: -53px;
}
.show,
.popup-comp>.show {
  display: block;
}
