title-size = 40px


p
  width 400px - 200px
  color : red;
  border 1px solid #2e2e2e


.content
  width : 1000px
  height : 300px
  margin  0 auto
  text-align center
  font-size title-size


@media screen and (orientation:portrait)
  .content
    width: 10px;